@charset "utf-8";
/* CSS Document */

body {
	font-size: 62.5%;
	font-family:Arial, Helvetica, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Clearfix */
.clearfix:after { content: "."; display: block;	height: 0; clear: both;  visibility: hidden;}
.clearfix {	display: inline-block; }
/* Hides from IE-mac \*/ * html .clearfix { height: 1%;}
.clearfix {	display: block;	}

/* Meta bar */

.meta-bar {
	background:#007fb3;
	height:24px;
	color:#fff;
	border-bottom:1px solid #939393;
	text-align:right;
	font-size:1.1em;
}

.meta-bar ul {
	margin:0;
	padding:5px 0 0 0;
	list-style-type:none;
}

.meta-bar ul li {
	margin:0;
	padding:0 9px;
	float: right;
}
.meta-bar ul li a {
	color:#fff;
	text-decoration:underline;
	font-weight:bold;
}

/* Main navigation */

.main-menu-bar {
	background:#3b3b3b;
	height:30px;
	text-align:left;
	padding:5px 0 0 0;
}
/* Breadcrumbs */

.breadcrumb-bar {
    min-height:23px;
    text-align:left;
    padding:7px 0 0 16px;
    border-bottom:1px solid #cccccc;
    clear:both;
    background: #fff;
    -moz-box-shadow: 0 0px 4px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 0px 4px rgba(0,0,0,.15);
    box-shadow: 0 0px 4px rgba(0,0,0,.15);
}
.breadcrumbs {
	margin:0;
	padding:0 0 5px 0;
	list-style-type:none;
}
.breadcrumbs li {
	margin:0;
	padding: 0 12px 4px 12px;
	float: left;
	font-size:1.1em;
}

.breadcrumbs li:first-child {
	background-image:none;
	padding-left:0;
}

.breadcrumbs li:first-child a {
	padding-left:0;
}

.breadcrumbs li a {
	margin:0;
	padding:0;
	color:#007fb3;
}
.breadcrumbs li a:hover {
	background:#edf6f9;
	color:#005e85;
}
.breadcrumbs li a.category {
	font-weight:bold;
	padding-right: 4px;
} 

.breadcrumbs li.separator {
	margin:0;
	padding: 0 12px 4px 12px;
	float: left;
	font-size:1.1em;
    background:url(images/breadcrumb_arrow.png) no-repeat 0px 4px;
}

.link {
	font-size:1.2em;
	color:#007fb3;
	text-decoration:none;
	position:relative;
}
.link:hover {
	text-decoration:underline;
}
.link .icon {
	background:url(images/ui-icons_007fb3_256x240.png) no-repeat 0 0;
	width:16px;
	height:16px;
	display:block;
    left: 0.2em;
    margin: -9px 5px 0 0;
    position: absolute;
    top: 50%;
    overflow: hidden;
}
.link .add-icon {
	background-position: -32px -128px;
}
.icon-link {
	padding-left: 20px;
}
.breadcrumb-bar .link {
	float: right;
	padding-right:16px;
	
}
/* Toolbar */

.toolbar {
	background:#f5f5f5;
	min-height:39px;
	text-align:left;
	padding:10px 24px 0 30px;
	border-bottom:1px solid #cccccc;
	clear:both;
    background: -moz-linear-gradient(top, #e3e3e3 0, #f5f5f5 2px, #f5f5f5 2px, #f5f5f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e3e3e3), color-stop(2%, #f5f5f5), color-stop(2%, #f5f5f5), color-stop(100%, #f5f5f5));
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.15);
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
}
.top-input {
    background: url("input_bg.png") repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #9d9d9d;
	color:#007fb3;
    float: left;
    font-size: 16px;
    height: 27px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-indent: 6px;
    width: 543px;
}
.toolbar .top-input {
	margin-right: 10px;
}

.toolbar .comments {
	font-size: 1.4em;
	color:#007fb3;
	padding: 0 0 0 15px;
	margin:6px 0 0 0;
	float:left;
	background:url(commennts_big.png) no-repeat 0 3px;
}
.save-button-bar {
	float:right;
}
.save-button {
    border: 1px solid #007fb3;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin: 0 6px 0 0;
    padding: 4px 9px 5px 9px;
    background: #007fb3;
    background: -moz-linear-gradient(top, #2390bd 0, #007fb3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2390bd), color-stop(100%, #007fb3));
	outline:none;
}
.save-button:hover {
    border: 1px solid #005e85;
    background: #005e85;
    background: -moz-linear-gradient(top, #409fc6 0, #007fb3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #409fc6), color-stop(100%, #007fb3));
}
.sticky {
	padding:0;
	width:100%;
}